/* src/Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    color: white;
}

.header h1 {
    font-size: 30px;
}

.header nav a {
    color: gray;
    text-decoration: none;
    margin-right: 105px;
    font-size: 18px;
}

.header nav input {
    padding: 10px;
    border-radius: 15px;
    border: none;
    width: 300px;
    background-color: #a4b0be;
    position: relative;
    left: 250px;
}
